DailyChart/Service References/ChartServiceReference/Chart.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSiteResult" type="tns:mySite" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="mySite">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoggerDataViewModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoggerDataViewModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoggerDataViewModelResult" type="tns:ArrayOfLoggerDataViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLoggerDataViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LoggerDataViewModel" nillable="true" type="tns:LoggerDataViewModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoggerDataViewModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FlowRate" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Pressure" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ForwardIndex" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ReverseIndex" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="NetIndex" nillable="true" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSiteSoapIn">
    <wsdl:part name="parameters" element="tns:GetSite" />
  </wsdl:message>
  <wsdl:message name="GetSiteSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoggerDataViewModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoggerDataViewModel" />
  </wsdl:message>
  <wsdl:message name="GetLoggerDataViewModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoggerDataViewModelResponse" />
  </wsdl:message>
  <wsdl:portType name="ChartSoap">
    <wsdl:operation name="GetSite">
      <wsdl:input message="tns:GetSiteSoapIn" />
      <wsdl:output message="tns:GetSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoggerDataViewModel">
      <wsdl:input message="tns:GetLoggerDataViewModelSoapIn" />
      <wsdl:output message="tns:GetLoggerDataViewModelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChartSoap" type="tns:ChartSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSite">
      <soap:operation soapAction="http://tempuri.org/GetSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoggerDataViewModel">
      <soap:operation soapAction="http://tempuri.org/GetLoggerDataViewModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChartSoap12" type="tns:ChartSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSite">
      <soap12:operation soapAction="http://tempuri.org/GetSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoggerDataViewModel">
      <soap12:operation soapAction="http://tempuri.org/GetLoggerDataViewModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Chart">
    <wsdl:port name="ChartSoap" binding="tns:ChartSoap">
      <soap:address location="http://localhost:50216/PMAC/Chart.asmx" />
    </wsdl:port>
    <wsdl:port name="ChartSoap12" binding="tns:ChartSoap12">
      <soap12:address location="http://localhost:50216/PMAC/Chart.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>